@import 'variable';
@import 'navbar';
@import 'variable';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.dark-app{
    background-color: $light;
    color: $black-text;
}

.light-app{
    background-color: $light-blue;
    color: $light;
}




