@import 'variable';

.search {
    position: relative;
}

select{
    float: right;
    margin: 30px;
    padding: 5px;
}


input{
    padding: 10px 40px;
    margin: 30px;
    width: 40%;
    border: none;
    box-shadow: $shadow;
    border-radius: 5px;
}

.s-dark{
    input{
        background-color: $light-blue;
        color: $light;
    }
}

.s-light{
    input{
        background-color: $light;
        columns: $black-text;
    }
}

.icon-search{
    position: absolute;
    bottom: 45px;
    left: 40px;
    &:hover{
        cursor: pointer;
        color: rgb(217, 27, 93);
    }
}

.search-light{
    background-color: $light;
    color: $black-text;
}

.search-dark{
    background-color: $light-blue;
    color: $light;
}

.search-data{
    width: 450px;
    height: 200px;
    box-shadow: $shadow;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    top: 70px;
    left: 70px;
    z-index: 999;
        .link-search{
            text-decoration: none;
            display: flex;
            width: 100%;
            align-items: center;
            padding: 10px;
            color: inherit;
        }
}

.link-search:hover{
    color: rgb(217, 27, 93);
    background-color: rgb(223, 223, 223);
}


.search-data::-webkit-scrollbar {
    display: none;
}

